.main-nav {
    width: 100%;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.container-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1248px;
}

.logo a {
    font-size: 26px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    color: #030303;
    text-decoration: none;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    right: 12%;
}

.nav-links a {
    color: #29264C;
    font-size: 14px;
    right: 12%;
    font-weight: 500;
    text-decoration: none;
    line-height: 20px;
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
}

.nav-links .dropdown-icon {
    margin-left: 5px;
}

.nav-links .dropdown {
    position: absolute;
    top: 100%;
    background: white;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    border-radius: 16px;
    padding: 32px;
    width: 800px;
    left: -4%;
    margin-top: 7%;
    z-index: 1;
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    border: 1px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: border-box;
    background-image: linear-gradient(white, white), linear-gradient(90deg, #9393EF, #FF556E);
}


.nav-links .has-dropdown:hover .dropdown {
    display: flex;
}

.dropdown-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
}

.dropdown-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-title {
    color: #4844A3;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.section-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section-item {
    color: #29264C;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.language-switcher button {
    background: none;
    border: none;
    color: #29264C;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
}

.login-btn {
    color: #4844A3;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 32px;
    display: flex;
    align-items: center;
}

.signup-btn {
    color: white;
    background: #4844A3;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 32px;
    border: 1px solid #4844A3;
    display: flex;
    align-items: center;
}

.signup-icon {
    margin-left: 5px;
    border: 1.67px solid white;
    border-width: 0 1.67px 1.67px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
