#sidebar {
    background-color: #333;
    color: #fff;
    min-height: 100vh;
    padding-top: 50px;
    border-right: 2px solid #ddd;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

#sidebar .nav-item {
    margin-bottom: 15px;
}

#sidebar .nav-link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

#sidebar .nav-link .title {
    margin-left: 10px;
    flex-grow: 1;
    text-align: left;
}

#sidebar .nav-link:hover {
    background-color: #575757;
    transform: translateX(5px);
}

#sidebar .badge-coming-soon {
    background-color: #666;
    color: #ccc;
    padding: 2px 6px;
    border-radius: 10px;
    font-size: 10px;
    margin-left: 8px;
    font-weight: normal;
}

#sidebar .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 2;
    position: relative;
}

#sidebar .sidebar-header img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    z-index: 3;
    position: relative;
}

#sidebar .profile-info {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}

#sidebar .profile-info p {
    margin: 0;
    font-size: 16px;
}

#sidebar .profile-info .btn {
    background-color: #41409f;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#sidebar .profile-info .btn:hover {
    background-color: #0056b3;
}
