.faqs1 {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 60px;
    font-weight: 600;
    text-align: center;
}

.what-is-an {
    flex: 1;
    position: relative;
    line-height: 28px;
    display: flex;
    align-items: center;
    height: 36px;
}

.plus-square-icon {
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}

.what-is-an-ai-art-generator-parent {
    width: 100%;
    max-width: 824px;
    border-bottom: 1px solid #e9e9ed;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px;
}

.how-can-i {
    flex: 1;
    position: relative;
    line-height: 28px;
}

.frame-parent-faqs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 18px;
    width: 100%;
}

.faqs {
    position: relative;
    border-radius: 24px;
    background-color: #f8f8f8;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 7.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 64px;
    box-sizing: border-box;
    gap: 24px;
    text-align: center;
    font-size: 48px;
    color: #29264c;
    font-family: 'Plus Jakarta Sans';
}

.faqs-background {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.faqs-shape {
    border: 1px solid #9393EF;
    position: absolute;
}

.faqs-shape.shape1 { width: 32px; height: 32px; left: 85%; top: 5%; }
.faqs-shape.shape2 { width: 32px; height: 32px; left: 70%; top: 90%; }
.faqs-shape.shape3 { width: 80.65px; height: 80.65px; left: 60%; top: 20%; transform: rotate(-27.11deg); background: white; }
.faqs-shape.shape4 { width: 45px; height: 45px; left: 75%; top: 50%; transform: rotate(15deg); background: white; }
.faqs-shape.shape5 { width: 86px; height: 86px; left: 25%; top: 10%; background: white; }
.faqs-shape.shape6 { width: 45px; height: 45px; left: 30%; top: 35%; transform: rotate(-35.29deg); background: white; }
.faqs-shape.shape7 { width: 47px; height: 47px; left: 20%; top: 65%; }
.faqs-shape.shape8 { width: 25px; height: 25px; left: 10%; top: 60%; }
.faqs-shape.shape9 { width: 105px; height: 105px; left: 15%; top: 30%; background: white; }
.faqs-shape.shape10 { width: 60px; height: 60px; left: 50%; top: 75%; transform: rotate(45deg); background: white; }
