body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    color: #fff;
    border: none;
    border-radius: 24px;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    margin-left: -10px;
}

.text-white {
    color: white;
}

#sidebar {
    background-color: #333;
    color: #fff;
    min-height: 100vh;
    position: relative;
    padding-top: 60px;
    border-right: 2px solid #ddd;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

#sidebar .nav-item {
    margin-bottom: 15px;
}

#sidebar .nav-link:hover {
    background-color: #575757;
}

#sidebar .nav-link img {
    margin-right: 8px;
}

#sidebar .profile-info {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

#sidebar .profile-info p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#sidebar .profile-info .btn {
    background-color: #41409f;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

#sidebar .profile-info .btn:hover {
    background-color: #0056b3;
}

main {
    margin-left: 250px;
    padding: 20px;
    background-color: #16151A;
    height: 100vh;
    overflow-y: auto;
    transition: margin-left 0.3s;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #41409f;
    color: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

header h1 {
    font-size: 28px;
    margin: 0;
}

header .btn-group {
    display: flex;
    align-items: center;
}

section {
    margin-bottom: 30px;
}

.section-title {
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 2px solid #41409f;
}

.img-thumbnail {
    margin-bottom: 15px;
    border-radius: 8px;
    border: 2px solid #ddd;
    background-color: #fff;
}

/* Output and Aspect Ratio Styling */
.form-check-input.output-circle,
.form-check-input.aspect-circle {
    position: right;
    opacity: 0;
}

.form-check-label.output-label,
.form-check-label.aspect-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: #444;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
}

.form-check-input.output-circle:checked + .output-label,
.form-check-input.aspect-circle:checked + .aspect-label {
    background-color: #888;
    border-color: #888;
    color: #fff;
}

/* Specific Styling for Aspect Ratio */
.form-check-label.aspect-label {
    width: 60px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    border-radius: 20px; /* Adjust border-radius for oval shape */
    font-size: 14px; /* Adjust font-size as needed */
    line-height: 40px; /* Adjust line-height as needed */
}

/* Styling for Style and Prompt */
#style,
#prompt {
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
    border-radius: 8px;
}

#style:focus,
#prompt:focus {
    background-color: #444;
    color: #fff;
    border-color: #888;
}

.form-control::placeholder {
    color: #aaa;
}

/* Flexbox for generated images */
#generated-images-container {
    display: flex;
    flex-wrap: wrap;
}

#generated-images-container .col {
    flex: 1 1 50%; /* Default to 50% width */
    padding: 10px;
}

#generated-images-container .col img {
    width: 100%;
    height: auto;
}

/* Flexbox for prompt and config */
#prompt-container,
#config-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#prompt-container {
    margin-right: 20px;
}

/* Spinner styling */
#spinner-container {
    display: none;
    justify-content: center;
    align-items: center;
}

#spinner-container .spinner-border {
    width: 3rem;
    height: 3rem;
}
