body {
    font-family: 'Plus Jakarta Sans';
    margin: 0;
    padding: 0;
    background-color: #000;
}

.nav-link {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.text-white {
    color: white;
}

main {
    margin-left: 250px;
    padding: 10px;
    background-color: #000;
    height: 100vh;
    overflow-y: auto;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

header h1 {
    font-size: 28px;
    margin: 0;
}

header p {
    font-size: 16px;
}

header .btn-group {
    display: flex;
    align-items: center;
}

.img-thumbnail {
    margin-bottom: 15px;
    border-radius: 8px;
    border: 2px solid #ddd;
    background-color: #fff;
}

.form-check-input.output-circle,
.form-check-input.aspect-radio {
    position: absolute;
    opacity: 0;
}

.form-check-label.output-label,
.form-check-label.aspect-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #333;
    background-color: #444;
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.form-check-input.output-circle:checked + .output-label,
.form-check-input.aspect-radio:checked + .aspect-label {
    background-color: #888;
}

.form-check-input.aspect-radio:checked + .aspect-label .aspect-display {
    background-color: #fff;
    border-color: #000;
}

.aspect-display {
    width: 100%;
    position: relative;
    background-color: #666;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, border-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.aspect-1-1::before {
    content: "";
    display: block;
    padding-top: 100%; /* 1:1 ratio */
}

.aspect-3-4::before {
    content: "";
    display: block;
    padding-top: 133.33%; /* 3:4 ratio */
}

.aspect-4-3::before {
    content: "";
    display: block;
    padding-top: 75%; /* 4:3 ratio */
}

.aspect-16-9::before {
    content: "";
    display: block;
    padding-top: 56.25%; /* 16:9 ratio */
}

#style,
#prompt {
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
    border-radius: 8px;
}

#style:focus,
#prompt:focus {
    background-color: #444;
    border-color: #888;
}

.style-option label {
    font-size: 14px; 
}

.form-control::placeholder {
    color: #aaa;
}

#generated-images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    margin-top: 10px;
}

.generated-image-container {
    flex: 1 1 40%;
    max-width: 45%;
    display: flex;
    justify-content: center;
}

.generated-image-container img {
    width: 100%;
    height: auto;
}

#prompt-container,
#config-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#spinner {
    display: none;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
}

.style-option {
    flex: 1 0 30%;
    max-width: 30%;
    margin: 5px;
    text-align: center;
}

.style-option img {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s ease-in-out;
    opacity: 0; /* Start hidden */
}

.style-option img.loaded {
    opacity: 1; /* Show when loaded */
}

.style-option img:hover {
    transform: scale(1.05);
}

.style-option input[type="radio"] {
    display: none;
}

.style-option input[type="radio"]:checked + label img {
    border: 2px solid #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.form-group.d-flex {
    align-items: center;
}

#style-search {
    max-width: 200px;
}

.arrow-btn {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

img.loaded {
    opacity: 1;
}