body {
    font-family: 'Plus Jakarta Sans';
    margin: 0;
    padding: 0;
    background-color: #000;
}

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    color: #fff;
    border: none;
    border-radius: 24px;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    margin-left: -10px;
}

.text-white {
    color: white;
}

#sidebar .d-flex.flex-column.h-100 {
    height: 100%;
  }

main {
    margin-left: 250px;
    padding: 10px;
    background-color: #000;
    height: 100vh;
    overflow-y: auto;
    overflow-y: auto;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

header h1 {
    font-size: 28px;
    margin: 0;
}

header .btn-group {
    display: flex;
    align-items: center;
}

section {
    margin-bottom: 30px;
}

.section-title {
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 10px;
}

.tabs {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    text-align: left;
    font-size: 14px;
    color: #848197;
    font-family: "Plus Jakarta Sans";
    flex-wrap: nowrap; /* add this line */
}

.tab {
    border-bottom: 2px solid #9a9af0;
    padding: 8px;
    cursor: pointer;
    display: inline-block; /* add this line */
}
.tab:hover {
    border-bottom: 2px solid #41404f; /* change border color on hover */
}

.label {
    position: relative;
    line-height: 20px;
    font-weight: 500;
    color: #848197; /* set text color */
}

.label:hover {
    color: #9a9af0; /* change text color on hover */
}

.p-4 {
    background-color: #030303;
    padding-bottom: 5%;
}

.text {
    position: relative;
    line-height: 20px;
    font-weight: 600;
}

.upload-01-icon {
    width: 20px;
    position: relative;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.buttons {
    position: relative;
    border-radius: 32px;
    background-color: #16151a;
    border: 1px solid #16151a;
    box-sizing: border-box;
    width: 150%;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    gap: 4px;
    text-align: left;
    font-size: 14px;
    color: #edecf6;
    font-family: "Plus Jakarta Sans";
}

.profile-picture {
    position: relative;
    line-height: 20px;
    font-weight: 500;
}

.input {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    text-align: left;
    font-size: 14px;
    color: #edecf6;
    font-family: "Plus Jakarta Sans";
    padding-bottom: 30px;
}

.nav {
    padding-left: 10px;
}
