body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    color: #fff;
    border: none;
    border-radius: 24px;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    margin-left: -10px;
}

.text-white {
    color: white;
}

main {
    margin-left: 250px;
    padding: 20px;
    background-color: #16151A;
    height: 100vh;
    overflow-y: auto;
    transition: margin-left 0.3s;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #41409f;
    color: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

header h1 {
    font-size: 28px;
    margin: 0;
}

header .btn-group {
    display: flex;
    align-items: center;
}

section {
    margin-bottom: 30px;
}

.section-title {
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 2px solid #41409f;
}

/* sidebar styles */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  #sidebar .d-flex.flex-column.h-100 {
    height: 100%;
  }
  
  #sidebar .flex-grow-1 {
    flex-grow: 1;
    overflow-y: auto;
  }
  
  #sidebar ul.nav.flex-column {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #sidebar ul.nav.flex-column li.nav-item {
    margin-bottom: 10px;
  }
  
  #sidebar ul.nav.flex-column li.nav-item a.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
  }
  
  #sidebar ul.nav.flex-column li.nav-item a.nav-link:hover {
    background-color: #444;
  }
  
  #sidebar ul.nav.flex-column li.nav-item a.nav-link img.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  #sidebar .line-div {
    height: 1px;
    background-color: #41409f;
    margin: 20px 0;
  }
  
  #sidebar .profile-info {
    background-color: #333;
    padding: 20px;
    border-top: 1px solid #555;
  }
  
  #sidebar .profile-info p {
    margin-bottom: 10px;
  }
  
  #sidebar .profile-info a.btn.btn-danger {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #41409f;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  #sidebar .profile-info a.btn.btn-danger:hover {
    background-color: #c82333;
  }