body {
  font-family: 'Plus Jakarta Sans';
  margin: 0;
  padding: 0;
  background-color: #000;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}

.text-white {
  color: white;
}

main {
  margin-left: 250px;
  padding: 10px;
  background-color: #000;
  height: 100vh;
  overflow-y: auto;
  color: #fff;
}

header {
  background-color: #000;
  color: #fff;
}

#dashboard-title {
  font-size: 30px;
}

.section-title {
  font-size: 24px;
}

.container-fluid.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.row .col-md-3.pr-2 {
  padding-right: 0.9rem;
}
